@charset "utf-8";

/* 전체영역 */
.main_wrap{
    max-width: 670px;
    height: 1065px;
    border: 1px dotted red;
    margin: 0 auto;
}

/* GNB */
.main_wrap .gnb{
    height: 86px;
    background: linear-gradient(to right, #09c665 0, #07bb7b 52%, #0fa3a6 100%);
    background-size: 100%;
    color: #fff;
    border: 1px dotted blue;

    position: relative;
}


.main_wrap .gnb .list_menu{
    display: flex;
    list-style: none;
    text-align: center;
    font-size: 18px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 600;

    margin: 0 auto;
    width: calc(100% - 34px);
    height: 100%;

    left: -40px;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.main_wrap .gnb .list_menu li{
align-items: center;
}

/* 버튼 */
.main_wrap .gnb .btn_more{
    display: block;
    line-height: 86px;
    height: 86px;
    background: linear-gradient(to left, #119eb1 0, #0fa3a6 34px, rgba(15, 163, 166, 0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 45px;
    
    color:#fff;
    font-size: 18px;
    
    
    border: 0;
    outline: 0;
}


/* 여백 */
.main_wrap .blank{
    height: 25px;
    border: 1px dotted yellow;
}

/* 속보영역 */
.main_wrap .brNews{
    position: relative;
    background-color: rgb(234, 237, 242);
    height: 115px;
    border: 1px dotted blue;
}

/* 속보영역 안쪽 흰영역 */
.main_wrap .brNews .sNews{
    position: absolute;
    top: 11%;
    left: 2%;
    height: 89px;
    width: 640px;
    background-color: #fff;
    margin: 0;
    border-radius: 15px;
}
/* 속보 내용 */
.main_wrap .brNews .sNews .br_list{
    display: flex;
    list-style: none;
    margin: 0;
    left: -40px;
    width: calc(100% - 34px);
    height: 100%;

    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

    position: absolute;
}

/* 속보 버튼 */
.main_wrap .brNews .sNews .btn_br{
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    right: 0;

    height: 89px;
    width: 30px;

    border-radius: 0 15px 15px 0;

    background-color: #fff;
    border-left: 2px solid rgb(234, 237, 242);
}

/* 메인뉴스 영역 */

/* 메인뉴스 1 */
.main_wrap .mainNews01{
    height: 275px;
    border: 1px dotted green;
}

/* 메인뉴스 1 상단 */
.main_wrap .mainNews01 .mNewsHead{
    height: 85px;
    border: 1px dotted blue;
}

/* 메인뉴스 1 본문 */
.main_wrap .mainNews01 .mNewsBody{
    height: 190px;
    border: 1px dotted blue;
}



.main_wrap .mainNews02{
    height: 275px;
    border: 1px dotted green;
}
.main_wrap .mainNews03{
    height: 275px;
    border: 1px dotted green;
}