@charset "utf-8";

.main_wrap{
    max-width: 670px;
    height: 1050px;
    border: 1px dotted red;
    margin: 0 auto;
}

.main_wrap .gnb{
    height: 86px;
    background: linear-gradient(to right, #09c665 0, #07bb7b 52%, #0fa3a6 100%);
    background-size: 100%;
    color: #fff;
    border: 1px dotted blue;

    position: relative;
}

.main_wrap .gnb .list_menu{
    display: flex;
    width: calc(100% - 34px);
    list-style: none;
    text-align: center;
    font-size: 18px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 600;

    position: absolute;
}

.main_wrap .gnb .list_menu li{
align-items: center;
}

.main_wrap .gnb .list_menu li .menu{

}